@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary: #FF6464;
    --secondary: #00A8CC;
    --dark: #21243D;
    --light: #8695A4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #E5E5E5;
    font-family: 'Heebo', sans-serif;
}
.nav--parent--container {
    padding: 38px 40px;
    margin-bottom: 100px;
}
.nav--child--container {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}
.nav--items {
    margin:  0px 38px;
}
.nav--items > a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

/* LANDING PAGE SECTION */
.landing--page--container {
    display: flex;
    padding: 0px 126px;
    margin-bottom: 50px;
}
.landing--text--container {
    width: 100%;
    margin-right: 50px;
    color: var(--dark);
}
.landing--text--container > h1 {
    font-size: 44px;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 40px
}
.landing--text--container > p {
    font-size: 16px;
    line-height: 23.5px;
    font-weight: 400;
    margin-bottom: 38px
}
.landing--text--container > button {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 29.38px;
    background-color: var(--primary);
    border: none;
    border-radius: 2px;
    width: 208px;
    height: 47px;
}
.landing--image--container {
    width: 100%;
    display: flex;
    justify-content: center;
}


/* RECENT POST SECTION */
.recent--post--container {
    background-color: #EDF7FA;
    padding: 25px 50px;
}
.recent--post--text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.recent--post {
    font-size: 38px;
    font-weight: 400;
    color: var(--dark);
}
.view--all {
    color: var(--secondary);
    font-size: 16px;
    font-weight: 400;
}
.post--card--container {
    display: flex;
    justify-content: space-between;
}
.post--card {
    background-color: #FFFFFF;
    color: var(--dark);
    max-width: 400px;
    padding: 24px;
    border-radius: 4px;
}
.post--card > h2 {
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: 700;
}
.post--date--container {
    display: flex;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
}
.date {
    border-right: 1px solid black;
    padding-right: 50px;
}
.topic {
    padding-left: 50px;
}
.post--text {
    font-size: 16px;
    font-weight: 400;
}


/* FEATURED WORKS SECTION */
.featured--works--container {
    padding: 25px 50px;
    border-bottom: 1px solid #E0E0E0;
}
.featured--works--container > h2 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 400;
    color: var(--dark);
}
.featured--text--img--container {
    display: flex;
    margin-bottom: 48px;
}
.featured--img--container {
    margin-right: 80px;
}
.featured--text--container > h2 {
    color: var(--dark);
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 18px;
}
.date-text-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.date-text-container > .date {
    background-color: #142850;
    border-radius: 15px;
    padding: 5px 25px;
    text-align: center;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 900;
    color: #FFFFFF; 
}
.date-text-container > .title {
    font-size: 20px;
    font-weight: 400;
    color: var(--light); 
}
.featured--text--container > p {
    font-size: 16px;
    color: var(--dark);
    font-weight: 400;
}